
<%layout('layout/boilerplate')%>

    <h1>Welcome to campground</h1>
    <a href="/campgrounds/new">create new</a>
<ul>
    <% for(let i of details) { %>
        <li ><%=i.title%></li>
<a href="/campgrounds/<%=i._id%>">details</a>
<hr>
        <% }  %>
    </ul>
